<div class="container mt-5 bg-info" >
    <form id="messageForm"> 
            <h1 class="text-center text-light">Centro de Mensajes</h1>       

            <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>

            <div class="mb-3">
                
                <input type="text" class="form-control" id="mensaje" name="mensaje" placeholder="Mensaje" >        
            </div>

            <div class="d-grid  d-md-flex justify-content-md-center">
                <button class="btn btn-outline-primary btn-md m-3" type="button" onclick="addMessage(messageForm)">Enviar</button>
            </div>
    </form>
</div>
